html {
    font-family: 'Outfit', sans-serif;
    
}

body {
    min-height: 100vh;
    overflow: hidden;
    background-color: hsla(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    margin:0;
}

footer {
    position: fixed;  /* always stay where I put you on the screen */
    bottom: 0;  /* I'm putting you at the bottom with no space in between */
    width: 100%;  /* fill the width of your containing element (body) */
    padding-bottom: 10px;

}

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding-bottom: 20px;
  background-color: hsl(0, 0%, 100%);
  /* height: 100%: */
  max-height: 497px;
  width: 100%;
  max-width: 320px;
  border-radius: 20px;
}

.qr-container {
    margin: 0 auto;
    width:90%;
    max-width: 288px;
    padding-top: 1rem;
    display:flex;
    justify-content: center;
    background-image: 'images/image-qr-code.png';
    background-size: cover;
   
}

.qr-container img {
    width:100%;
    height:100%;
    border-radius: 5px;

}

.text-container {
    width: 80%;
    max-width: 288px;
    margin: 0 auto;
    text-align: center;
    
}

.text-container h1 {
    font-size: 22px;
    line-height: 28px;
    color:hsla(218, 44%, 22%, 0.75);
}

.text-container p {
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%);
    max-width: 50%;
    margin: 0 auto;
}